alabaster==0.7.12
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.3
babel==2.9.0
bumpversion==0.6.0
certifi==2020.12.5
chardet==4.0.0
coverage==5.3.1
docutils==0.16
flake8==3.8.3
idna==3.1
imagesize==1.2.0
isort==5.7.0
jinja2==2.11.2
lazy-object-proxy==1.5.2
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==8.6.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pygments==2.7.3
pylint==2.6.0; python_version >= '3.0'
pylint==2.5.3; python_version <= '3.0'
pyparsing==2.4.7
pytest-cov==2.10.0
pytest-pylint==0.17.0
pytest-runner==5.2
pytest==5.4.3
pytz==2021.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.0.0
sphinx==3.1.1
sphinxcontrib-websupport==1.2.4
tox==3.15.2
urllib3==1.26.2
virtualenv==20.3.1
wrapt==1.12.1
